@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body{
    color: #fff;
    background-color: #000;
    background-image: url(../image/tumblr_lp699kRsyE1qzt4vjo1_500.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
#Container-Principal{
    width: 800px;
    margin: auto;
    font-family: sans-serif;
    border: 2px solid blue;
}

header {
    border: 2px solid #30f;
    border-radius: 20px ;
    text-align: center;
    padding: 25px;
    margin: 25px;
}

main{
    margin: 0 25px;
}

h1{
    color: Green;
    font-family: 'Square Peg', cursive;
    font-size: 45px;
    text-align: center;
}

table{
    margin: auto;
}

caption{
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

td, th{
    border: 1px solid blue;
}
footer{
    text-align: center;
    background-color: blue;
    margin: 25px;
    padding: 15px;
    font-weight: 700;
}
header p {
    font-weight: bolder;
    text-shadow: 1px 5px 3px #aaa;
}
strong{
    color: Gray;
}